body {
  background: #1c1e22;
  color: #FFF;
}

li {
  list-style: none;
}

.App {
  text-align: center;
  padding-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .planet {
    animation: App-logo-spin infinite 20s linear;
    max-width: 150px;
  }
}

.App-menu {
  display: flex;
  justify-content: center;
  /* so it breaks to a second line when screen is smaller */
  flex-wrap: wrap;
}

.App-menu li:not(:last-child){
  margin-right: 20px;
  margin-bottom: 20px;
}

.App-menu button {
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  background: #FFF;
  padding: 10px 20px;
}

.App-menu button.active{
  background: #000;
  color: #FFF;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
